@font-face{
  font-family:iconfont;
  src:url('./fonts/mi-iconfont.ttf');
  font-weight:400;
  }
.icon {
  font-family: iconfont;
  font-style:normal;
}
.iconfont-cart:before{content:"\E60C"}
.iconfont-search:before{content:"\E616"}
.iconfont-right:before{content:"\E621"}
.iconfont-right-big::before{content: "\E623";}
.iconfont-circle-arrow-right:before{content: "\E615";}
.iconfont-play:before {content: "\E601";}
.iconfont-tool:before {content: "\E634";}
.iconfont-circle-7:before {
  content: "\E635";
}
.iconfont-circle-15:before {
  content: "\E636";
}
.iconfont-gift:before {
  content: "\E638";
}
.iconfont-location:before {
  content: "\E637";
}
